@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

    font-family: "Inter", sans-serif;
}
body {
    background-color: #4d47ff0c;
}
header {
    background-image: url('../images/Hero-bg.png');
    height: 698px;
}
.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: 0 150px;

}
.navber h1 {
    color: #4E47FF;
    font-weight: bold;

}
.btn {
    background-color: #4E47FF;
    color: white; 
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Regular', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.btn:hover {
    background-color: black;
    color: #4E47FF;
}
.banner {
    text-align: center;
    margin-top: 200px;

}
.banner h1 {
    line-height: 85px;
    font-size: 80px;
    font-family: 'raleway', sans-serif;
}
.btn2 {
   
    margin-top: 50px;
    border: none;
}

.btn2 {
    background-color: #4E47FF;
    color: white; 
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Regular', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.btn2:hover {
    background-color: black;
    color: #4E47FF;
}
.section-box {
    width: 1140;
    height: 330;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section-box1 {
    margin-left: 150px;
    
}
.box1 {
    font-size:50px;
    font-weight: bold;
}
.section-box1 a {
    font-size: 20px;
    font-weight: bold;
}
.section-box1 p {
    color: #2524326b;
    padding-top: 10px;
    font-size: 30px;
}
.btn3 {
    margin-top: 40px;
    border: none;
}
.btn3 {
    background-color: #4E47FF;
    color: white; 
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Regular', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.btn3:hover {
    background-color: black;
    color: #4E47FF;
}
.section-img img {
    margin: 80px 160px;
    border-radius: 40px;
    

}
.productive {
    width: 85%;
    height: 306px;
    margin: 0 auto;
    text-align: center;
    background-color: #4d47ff2d;
    border-radius: 15px;

}
.productive1 {
    
    font-size: 18px;
    font-weight: bold;
    color: #252432;
    padding-top: 40px;
}
.user {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 40px;
}
.user h1 {
    font-size: 80px;
    margin: 0 25px;
    color: #4E47FF;
}
.user p {
    font-size: 15px;
    margin-right: 30px;
}
.recview {
 width: 85%;
    height: 306px;
    
    margin:137px 150px ;

    
}
.recview h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
}

.review-container {
    display: flex;
    justify-content: center;
    
}
.star1 {
    color: gold;
    font-size: 30px;
}
.review-star {
    background-color: white;
    width: 90%;
    height: 306px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0px 1px ;
    margin: 0 20px;
}
.review-star h3 {
    font-size: 30px;
    color: #1E1E1E;
    margin-top: 10px;
}
.review-star p {
    color: #1e1e1ee2;
    margin-top: 10px;
    
}
.review-info {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
}
.review-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.review-text {
    line-height: 10px;
}
.webflow {
    text-align: center;
    
    width: 83%;
    height: 800px;
    margin: 20px 180px;
   padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 0 0 0.5px;
     border-radius: 10px;
     margin-top: 200px;

}

.webflow-text h1 {
    font-size: 60px;
    
}
.webflow-text p {
    color: #1e1e1e8e;
    font-size: 20px;
    margin-top: 10px;
}
.btn4 {
    margin-top: 40px;
    border: none;
}
.btn4 {
    background-color: #4E47FF;
    color: white; 
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Regular', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.btn4:hover {
    background-color: black;
    color: #4E47FF;
}
.webflow-img {
    margin-top: 40px;
}
.webflow-img img {
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 150px;
    padding-top: 70px;

}
.text-left {
    flex: 1;
    
}
.text-left h1 {
    font-size: 90px;
    
}
.form-right {
    flex: 1;
}
form {
      display: flex;
  flex-direction: column;
  gap: 15px;
}
input, textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
    text-decoration: none;
    background-color: #4E47FF;
    padding: 15px 25px;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}
button:hover {
    background-color: black;
    color: #4E47FF;
}
.footer1 {
margin-top: 60px;
 background-color: white;
    text-align: center;
    height: 350px;
}

.footer-text h1 {
    font-size: 90px ;
    font-weight: bold;
    color: #4E47FF;
    padding-top: 80px;
}
.footer-text p {
    color: rgba(0, 0, 0, 0.425);
    padding-top: 10px;
}
.fotter-menu {
    text-align: center;
    padding-top: 20px;
}
.fotter-menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.354);
    margin: 30px;
    
}


